@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif

}
body {
    background-image:linear-gradient(to right,#4EA5D9,#2A4494);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #44cfca8e;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #122C34;
    text-align: center;
    text-shadow: 1px  1px 2px #122C34; ;

}
h2 {
    color: #224870;
}
p {
    text-align: justify;
}