*{
    height: 100%;
}

body {
    background-image:linear-gradient(180deg, rgb(19, 69, 85 )18%, #dbf9f4ff , #e6fdffff );
    background-attachment: fixed;
    background-size: auto;
}
h1 {
    text-align: center;
}